#center{
    max-width: 50%;
    margin: 30px auto;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 600px;
    overflow: auto;
    background: #f9f9f9;
}

button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}