<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CAB432</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <link href="/stylesheet/styles.css" rel="stylesheet" />
</head>
<body>

<div id="center">
    <h2>Live Twitter</h2>
    <input id="message" type="text" placeholder="Hashtag" />
    <button id="send">Send</button>
</div>
<div id="testdiv">




</div>


</body>
<script>
    // Make connection
    var ip = 'http://' + location.host ;
    var socket = io.connect(ip);
    // Query DOM
    var searchKeyword = document.getElementById('message'),
        handle = document.getElementById('handle'),
        btn = document.getElementById('send'),
        output = document.getElementById('output'),
        feedback = document.getElementById('feedback');

    // Emit events
    btn.addEventListener('click', function(){
        socket.emit('searchTerm', searchKeyword.value);
        //filter = message.value;
    });




    // Listen for events
    socket.on('getTweet', function(tweet){
        document.getElementById("testdiv").innerHTML+=tweet.tweetMessage+"<br>";
    });
</script>
</html>
